* {
	margin: 0
}

@font-face {
	font-family: 'Latin Modern';
	src:
		url('lmmono.woff2') format('woff2'),
		url('lmmono.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	background: #181818;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	font-family: Raleway;
	display: flex;
	flex-direction: row;
	/* flex: 1 1 960px; */
	margin: 0.5em calc((100% - 960px)/2);
}

main {
	background: #FCFCFC;
	border-radius: 0px 10px 10px 0px;
	padding: 30px;
}
nav {
	display: flex;
	flex-direction: column;
	/* overflow: hidden; */
	flex: 1 0 6em;
}

.nav-item {
	font-size: 2em;
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	background: #181818;
	color: #FCFCFC;
	border: 0px;
	border-radius: 10px 0px 0px 10px;
}

.nav-item:hover {
	background: #FCFCFC;
	color: #181818;
}

.selected {
	background: #FCFCFC;
	color: #181818;
}

h1 {
	font-family: 'Latin Modern';
	font-style: normal;
	font-weight: bold;
	font-size: 2.3em;
	padding: 1em 0.5rem;
	text-align: center;
	color: #FFFFFF;
}

h2 {
	flex: 1 0 100%;
	align-self: stretch;
	font-family: 'Latin Modern';
	font-style: normal;
	font-weight: bold;
	font-size: 1.7em;
	color: #181818;
	letter-spacing: 0.05em;
	margin-bottom: 1em;
}

@media only screen and (max-width: 975px){
	.container {
		margin: 0.5em;
	}
	.nav-item {
		padding: 1em;
	}
}

@media only screen and (max-width: 430px){
	.container {
		flex-direction: column;
		margin: 0.5rem;
	}
	nav {
		flex-direction: row;
		flex: 1 0 2em;
		justify-content: stretch;
	}
	.nav-item{
		font-size: 7vw;
		/* padding: 0rem 1.5rem; */
		width: calc(100%-0.5rem);
		height: 20vw;
		border-radius: 10px 10px 0px 0px;
		padding: 0;
	}
	main {
		border-radius: 0px 0px 10px 10px;
	}
}
